*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
a{
	display: inline;
  text-decoration: none;
  color: white;
  padding: .8rem;
}
#navbar a:hover{
  background-color: #45567d;
}
#navbar{
  display: flex;
  position: fixed;
  width: 100%;
  padding: 0 15px;
  color: white;
  background-color: #be3144;
  justify-content: flex-end;
  align-items: center;
  filter: drop-shadow(0px 0px 2px black);
}
.welcome-txt h1{
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  color: white;
}
.welcome-txt h4{
  font-size: 1.4em;
  font-weight: 200;
  font-style: italic;
  font-family: 'Poppins', sans-serif;  
	color: #D9384E;
}
#welcome-section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  background: linear-gradient(to right, #303841, #1a1a1c);
}
#projects h2{
  padding: 5px;
  color: #f0f0f0;
  font-family: 'raleway', sans-serif;
  font-size: 2rem;
  text-decoration: underline;
  text-underline-offset: .5rem;
}
.project-tile img{
  height: min(45vw, 300px);
  width: min(45vw, 300px);
  background-color: purple;
}
.project-name{
  display: flex;
  min-height: 3rem;
  width: min(45vw, 300px);
  color: white;
  background-color: #303841;
  justify-content: center;
  align-items: center;
}
.project-tile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
span{
  font-size: 1.2em;
  color: orange;
	filter: opacity(0);
  margin: .3em;
}
.project-tile:hover{
   .project-name span{
    filter: opacity(1);
    transition: filter .3s linear;
  }
}
.project{
  display: grid;
  grid-template-columns: repeat(3,min(45vw, 300px));
  justify-content: center;
  grid-gap: min(5vw, 25px);
  margin: 30px 0;
}
#profile-link{
  margin: 20px;
  padding: 5px 10px;
  color: white;
  background-color: #303841;
}
#profile-link:hover{
  background-color: #be3144;
  .fa-chevron-right{
    transform: translateX(2px);
    transition: transform .3s linear;
  }
}
#projects{
  width: 100%;
  background-color: #45567d;
  padding: 50px 5px; 
}
#contact h2{
  font-family: 'Raleway', sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4;
}
#contact h5{
  font-size: 1.3rem;
  font-weight: 200;
}
#contact-info{
  margin: 20px;
}
.contact-link i{
  margin: 5px;
}
.contact-link{
  display: inline-block;
}
.contact-link:hover{
  transform: scale(1.15);
  transition: scale .4s linear;
}
#contact {
  height: 100vh;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: #303841;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 960px){
  .project{
  	grid-template-columns: repeat(2, min(45vw,300px));
  }
}
@media screen and (max-width: 600px){
  *{
    font-size: 0.9rem;
  }
  #navbar{
    padding: 0 5px;
  }
}
@media screen and (max-width: 320px){
  *{
    font-size: 0.8rem;
  }
}
